html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
#root {
  width: 100%;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
.search {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 25px 60px;
  margin-bottom: 30px;
  position: relative;
  background-image: url("./images/shopImage.jpg");
}
.dropDown__select {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 12px;
  border-radius: 10px;
  padding: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.dropDown__input {
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  outline: none;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}
.dropDown__input:focus {
  transition: 0.3s ease-in-out;
  width: 270px;
}
.dropDown__input:not(focuse) {
  transition: 0.3s ease-in-out;
  width: 200px;
}

#pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pagination a {
  padding: 0px;

  background-color: white;
  margin: 30px 15px;
}

.pagination__btn {
  font-size: 25px;
  padding: 10px;
  border-style: none;
  background-color: white;
  color: gray;
  cursor: pointer;
}
.pagination__current {
  color: #c56000;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 25px 70px;
  margin-bottom: 30px;
}
.nav__title {
  font-size: 30px;
  font-weight: 700;
}

.cart {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 250px);
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.cart > a,
.navLink > a {
  margin: 0 5px;
  font-size: 30px;
  z-index: 1;
  color: white;
}

.navLink {
  position: relative;
}
.cartAmount {
  position: absolute;
  top: -9px;
  right: 0px;
  font-size: 10px;
  background-color: rgba(237, 15, 119, 0.8);
  padding: 3px 5px;
  text-align: center;
  border-radius: 4px;
}

.shop {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 250px);
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.detailContainer {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detailContainer > a {
  cursor: pointer;
}

.cartContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}
.item {
  height: 450px;
  border: 2px solid #212529;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.item > img {
  max-width: 180px;
  max-height: 250px;
  min-height: 170px;
  height: auto;
  margin-top: 50px;
}
.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 8px;
}

.details > a {
  cursor: pointer;
}

.price-quantity {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}

.item__btns {
  display: flex;
  gap: 8px;
  font-size: 20px;
}
.item__btn {
  padding: 5px;
  background-color: #8ecae6;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}

.bi-dash-lg {
  color: red;
  cursor: pointer;
}
.bi-plus-lg {
  color: green;
  cursor: pointer;
}
#OfficeShirt-2 {
  background-color: hotpink;
}

@media (min-width: 768px) {
  .shop,
  .cart {
    grid-template-columns: repeat(2, 250px);
  }
  .dropDown__input {
    width: 270px;
  }
  .dropDown__input:focus {
    width: 350px;
  }
  .dropDown__input:not(focus) {
    width: 270px;
  }
}
@media (min-width: 1024px) {
  .shop,
  .cart {
    grid-template-columns: repeat(4, 250px);
  }
  .dropDown__input {
    width: 300px;
  }
  .dropDown__input:focus {
    width: 400px;
  }
  .dropDown__input:not(focus) {
    width: 300px;
  }
  .dropDown__select {
    font-size: 15px;
    padding: 5px;
  }
}
